{% extends 'base.html' %}
{%block content%}
    <p>Еще не зарегистрированы? <a href="{{ url_for('registration') }}">Регистрация тут!</a></p>
<form style="width: 80%;" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class_="form-control", style="width: 32em") }}
        {% if error %}
            <span style="color: red;">Неправильный ввод поля</span>
        {% endif %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class_="form-control", style="width: 32em") }}
        {% if error %}
            <span style="color: red;">Неправильный ввод поля</span>
        {% endif %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{%endblock%}